# Service uris
globalSettings__baseServiceUri__vault=https://${BW_HOST}
globalSettings__baseServiceUri__api=https://${BW_HOST}/api
globalSettings__baseServiceUri__identity=https://${BW_HOST}/identity
globalSettings__baseServiceUri__admin=https://${BW_HOST}/admin
globalSettings__baseServiceUri__notifications=https://${BW_HOST}/notifications
# Database
globalSettings__sqlServer__connectionString="Data Source=tcp:mssql,1433;Initial Catalog=vault;Persist Security Info=False;User ID=sa;Password=${SA_PASSWORD};MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
# Other settings
globalSettings__identityServer__certificatePassword=p6vX4FRBp1J9p1WxYlpyeQIWkI0DizTE
globalSettings__attachment__baseDirectory=/etc/bitwarden/core/attachments
globalSettings__attachment__baseUrl=https://${BW_HOST}/attachments
globalSettings__dataProtection__directory=/etc/bitwarden/core/aspnet-dataprotection
globalSettings__logDirectory=/etc/bitwarden/logs
globalSettings__licenseDirectory=/etc/bitwarden/core/licenses
globalSettings__internalIdentityKey=hZIqT8fhHVlBOMdTT58mlOxcm6zBaenRw2NEgIYOATZ7UHkU8k2OlqNZaXjn8sX2
globalSettings__duo__aKey=RywYJ1NXoxeWZy8wODPkXXew9yfxeuNNHwWkFLIiFGQnhFrPwnv7Ijip4RqcyHry
globalSettings__installation__id=c4f2fbea-1819-4556-bca6-abcb015e0d86
globalSettings__installation__key=iBiQiDdhacUejwGMxGIE
# Yubico
globalSettings__yubico__clientId=REPLACE
globalSettings__yubico__key=REPLACE
# Email Settings
globalSettings__mail__replyToEmail=REPLACE-bitwarden@domain.de
globalSettings__mail__smtp__host=REPLACE-mail.domain.de
globalSettings__mail__smtp__port=REPLACE-587
globalSettings__mail__smtp__ssl=REPLACE-true
globalSettings__mail__smtp__username=REPLACE-email@domain.de
globalSettings__mail__smtp__password=REPLACE-PASSWORD
globalSettings__mail__smtp__trustServer=true
# Other Settings
globalSettings__disableUserRegistration=false
globalSettings__hibpApiKey=REPLACE
adminSettings__admins=${BW_ADMIN_EMAIL}
